<h1>The Car Club</h1>
<%= button_to "CARS", {action: "index", controller: "cars"}, :method => "get" %> 
<br/>
<%= button_to "FANS", {action: "index", controller: "fans"}, :method => "get" %>
<!--<%= button_to "LIKES"%>-->